# Backend Dependencies
Flask==2.3.3
Flask-CORS==4.0.0
Flask-JWT-Extended==4.5.3
SQLAlchemy==2.0.21
psycopg2-binary==2.9.7
Werkzeug==2.3.7
gunicorn

# Computer Vision and AI
ultralytics==8.2.52
opencv-python-headless==4.8.1.78
numpy==1.26.4
Pillow==10.0.1

# build tools supaya Railway tidak error
setuptools
wheel

# File handling and utilities
python-multipart==0.0.6
python-dotenv==1.0.0
uuid==1.30

# Development and testing
pytest==7.4.2
pytest-flask==1.2.0

# Machine Learning & Computer Vision
torch==2.2.2+cpu
torchvision==0.17.2+cpu
torchaudio==2.2.2+cpu
-f https://download.pytorch.org/whl/torch_stable.html